<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HackFusion"
        tools:targetApi="31">
        <activity
            android:name=".Budget.BudgetUpload"
            android:exported="false" />
        <activity
            android:name=".QrScanDoctorSecurity.SecurityQrScan"
            android:exported="false" />
        <activity
            android:name=".QrScanDoctorSecurity.Security_Qr_Code_Layout"
            android:exported="false" />
        <activity
            android:name=".QrScanDoctorSecurity.DoctorFormActivity"
            android:exported="false" />
        <activity
            android:name=".QrScanDoctorSecurity.QRScanForDoctor"
            android:exported="false" />
        <activity
            android:name=".Notification.CreateNotificationActivity"
            android:exported="false" />
        <activity
            android:name=".Election.CreateElectionActivity"
            android:exported="false" />
        <activity
            android:name=".ConductVoilate.FillCaughtDetails"
            android:exported="false" />
        <activity
            android:name=".Complaint.complaint_form"
            android:exported="false" />
        <activity
            android:name=".Application.ApplyApprovalActivity"
            android:exported="false" />
        <activity
            android:name=".Application.ApplyLeaveActivity"
            android:exported="false" />
        <activity
            android:name=".Home.DeanHomeActivity"
            android:exported="false" />
        <activity
            android:name=".Home.FacultyHomeActivity"
            android:exported="false" />
        <activity
            android:name=".Home.DoctorHomeActivity"
            android:exported="false" />
        <activity
            android:name=".Home.SecurityHomeActivity"
            android:exported="false" />
        <activity
            android:name=".profile_activity"
            android:exported="false" />
        <activity
            android:name=".Booking.facilityStatus"
            android:exported="false" />
        <activity
            android:name=".Booking.booking_facility"
            android:exported="false" />
        <activity
            android:name=".QrScanDoctorSecurity.qrScanner"
            android:exported="false" />
        <activity
            android:name=".LogInSignIn.signUp"
            android:exported="false" />
        <activity
            android:name=".LogInSignIn.signIn"
            android:exported="false" />
        <activity
            android:name=".QrScanDoctorSecurity.QRScannerActivity"
            android:exported="false" />
        <activity
            android:name=".Home.FacultyHomeFragment"
            android:exported="false" />
        <activity
            android:name=".LogInSignIn.splashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Home.home"
            android:exported="true" />
    </application>

</manifest>